# === Database (AlaStay) ===
# Pooler Supabase untuk runtime Next.js (port 6543)
DATABASE_URL="postgresql://postgres.woasszjulfeqnxpdddhv:@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true&connection_limit=1&sslmode=require"

# Direct DB untuk migrate/Studio (port 5432)
DIRECT_DATABASE_URL="postgresql://postgres.woasszjulfeqnxpdddhv:@aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres?sslmode=require"

# === App config ===
WHATSAPP_NUMBER=62xxxxxxxxxx

# (opsional) Google Analytics
NEXT_PUBLIC_GA_ID=G-XXXXXXXXXX
